name: Test

on:
  pull_request:
    branches:
    - master
    - next

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node_version: [8, 10, 12]
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: yarn
    - name: Build packages
      run: yarn compile
    - name: Run tests
      run: yarn test
    - name: Lint code
      run: yarn lint
    - name: Audit packages
      run: yarn audit
    - name: Upload coverage to Codecov
      if: matrix.os != 'windows-latest'
      uses: codecov/codecov-action@v1.0.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
